/* Map */
html {
    height: 100%;
    margin: 0;
    background: white;
}

.navbar {
    position: fixed;
    width: 100%;
    
}
body {
    font: normal 18px/1.5 "Courier", "monospace", sans-serif;
    color: #000000;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 60px;
}


h1 {
      font-size: 3rem;
      color: #4D3F36;
      text-align: center;
      font-weight: 800;
      padding-top: 100px;
}

h2 {
    font-size: 2rem;
    color: #4D3F36;
    text-align: center;
    font-weight: 800;
}
  
.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.APLevel {
    background: #4D321F;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding-top: 60px;
}

/*Map*/
#map {
    width: 600px;
    height: 400px;
    text-align: center;
}

#info { 
    color: white; 
    display: flex; 
    background: #4D321F;
    padding-left: 40px;
    padding-right: 10px;

} 

#info ul li {
    list-style-type: circle;
}
    
.legend { 
    text-align: left; 
    line-height: 18px; 
    color: #555; 
} 
.legend i { 
    width: 18px; 
    height: 18px; 
    float: left; 
    margin-right: 8px; 
    opacity: 0.7; 
}


/*Bar Chart*/
#chartContainer {
    height: 370px; 
    width: 90%;
    display: inline-block;
    
}
